.guesses {
    width: 100vw;
    height: 50vh;
    margin: auto;
    
}
.guess-input {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px;
    border-radius: 20px;    
}

@media screen and (max-width: 800px) {
    .guess-input {
        display: grid;
        width: 10px;
        grid-template-columns: 30px 30px 30px 30px 30px 30px;
        border-radius: 20px;
    }

    button {
        font-size: 12px;
    }
}

input {
    background-color: #000033;
    color: white;
    text-align: center;
    font-size: 22px;
}

body {
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}